.o_onlyoffice_kanban_renderer {
  row-gap: 30px;
  column-gap: 30px;
  background: none;

  .o_onlyoffice_kanban_record {
    width: 200px;
    border: 1px solid;
    border-color: var(--black-25);

    .o_onlyoffice_record_selector {
      color: var(--black-25);
      position: absolute;
      top: 8px;
      right: 8px;
      font-size: 16px;
      z-index: 9;
      cursor: pointer;

      background: rgba(255, 255, 255, 0.66);
      border-radius: 50%;
      width: 13px;
      height: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .o_onlyoffice_record_selected {
      opacity: 1;
      border: 1px solid var(--primary);
      box-shadow: 0 0 0 1px var(--primary);
      background-color: var(--body-bg);

      .o_onlyoffice_record_selector::before {
        color: var(--primary);
        content: "\f058";
      }
    }
  }

  .o_onlyoffice_kanban_previewer {
    cursor: zoom-in;

    .o_onlyoffice_kanban_image {
      width: 100%;
      height: 100%;
    }
  }

  .o_onlyoffice_kanban_details_wrapper {
    flex-direction: row;
    min-height: auto;
    column-gap: 10px;
    align-items: baseline;
  }
}
